# Timeline Analysis : Covid-19 : GRIP- The Sparks Foundation

### <span style='color:lightgreen'>  Author : Irfan Pathan  </span>

### **Coronavirus Country Profiles**
Data built 207 country profiles which allows to explore the statistics on the coronavirus pandemic for every country in the world.

In a fast-evolving pandemic it is not a simple matter to identify the countries that are most successful in making progress against it. For a comprehensive assessment, we track the impact of the pandemic across our publication and we built country profiles for 207 countries to study in depth the statistics on the coronavirus pandemic for every country in the world.

In [48]:
!unzip "owid-covid-data.zip"

Archive:  owid-covid-data.zip
replace owid-covid-data.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv("owid-covid-data.csv")
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

Now, We are going to use PowerBI to Showcase the Timeline Analysis of Covid-19.

### See you there!

**PowerBI Link of the Project: "https://app.powerbi.com/view?r=eyJrIjoiZTY2NTBlYTYtNDA1NS00OGQwLWFjNGYtZmU1ODcxZWJmZmRmIiwidCI6IjBlNzk0YzU2LTNiZGItNDliMi04MTQzLTc4MWQwZjE5OWU4MiJ9&pageName=ReportSection"**